
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> ignore deployment related files ###
/etc/*/*.ini.local
/etc/*/*.cron
/etc/*/*.conf
/etc/*/*.sh
/etc/*/*.yaml
/etc/*/*.json
####< ignore deployment related files ###
