<div class="Header">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{path('post_index')}}"><img src=""/> my pc</a>
        <div class="text-center">Checkout Blog</div>
    </div>
</div>