{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center">
        <h3>My Symfony project</h3>
        <div class="jumbotron text-center">
            <App></App>
        </div>
    </div>
{% endblock %}